@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-textMain antialiased m-0 p-0 font-sans tracking-normal;
  }
}

@layer utilities {
  .dotted-bg {
    background-image: radial-gradient(circle, #e4e4e7 1px, transparent 1px);
    background-size: 16px 16px;
  }
}

/* Minimal Scrollbar */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #d4d4d8;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a1a1aa;
}
